<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<style>
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	}
	</style>

	<!-- INCLUDE STYLES --> 
	<link rel="stylesheet" href="../../css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="../../css/style.css">

    <script src="../../js/jquery.min.js"></script>

	<link href="../../styles/kendo.common.css" rel="stylesheet" />
  	<link href="../../styles/kendo.blueopal.css" rel="stylesheet" />

	<!-- INCLUDE JAVASCRIPT KENDO -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/kendo.all.js"></script>
    <script src="../../js/kendo.core.js"></script>
    <script src="../../js/kendo.list.js"></script>
    <script src="../../js/kendo.data.js"></script>
    <script src="../../js/kendo.model.js"></script>
    <script src="../../js/kendo.data.xml.js"></script>
    <script src="../../js/kendo.pager.js"></script>
    <script src="../../js/kendo.sortable.js"></script>
    <script src="../../js/kendo.draganddrop.js"></script>
    <script src="../../js/kendo.groupable.js"></script>
    <script src="../../js/kendo.dropdownlist.js"></script>
    <script src="../../js/kendo.combobox.js"></script>
    <script src="../../js/kendo.popup.js"></script>
    <script src="../../js/kendo.web.js"></script>
<!--     <script src="../../js/kendo.groupable.js"></script> -->
<!--     <script src="../../js/kendo.menu.js"></script> -->
    <script src="../../js/kendo.grid.js"></script>
    <script src="../../js/kendo.chart.js"></script>


	<!-- INCLUDE MOBISCROLL -->
	<link href="../../css/mobiscroll/mobiscroll.jqm-2.0.1.css" rel="stylesheet" type="text/css" />
	<link href="../../css/mobiscroll/mobiscroll.android-ics-2.0.css" rel="stylesheet" type="text/css" />
	<link href="../../css/mobiscroll/mobiscroll.core-2.0.1.css" rel="stylesheet" type="text/css" />

    <script src="../../js/mobiscroll/mobiscroll.core-2.0.1.js" type="text/javascript"></script>
	<script src="../../js/mobiscroll/mobiscroll.ios-2.0.js" type="text/javascript"></script>
	<script src="../../js/mobiscroll/mobiscroll.datetime-2.0.1.js" type="text/javascript"></script>
	<script src="../../js/mobiscroll/mobiscroll.jqm-2.0.1.js" type="text/javascript"></script>
	<script src="../../js/mobiscroll/mobiscroll.select-2.0.1.js" type="text/javascript"></script>

	<!-- INCLUDE JAVASCRIPT INTERNOS -->
	<script src="../../js/model/GlobalVariables.js"></script>
	<script src="../../js/views/comboAccounts.js"></script>
	<script src="../../js/views/comboPagos.js"></script>
	<script src="../../js/views/comboCurrency.js"></script>
	<script src="../../js/views/comboUsers.js"></script>
	<script src="../../js/views/gridPurchases.js"></script>
	<script src="../../js/util/BrowserDetection.js"></script>
	<script src="../../js/util/Functions.js"></script>

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->




    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/index.html">Moneytrack</a>
          <div class="nav-collapse">
            <ul class="nav">
               <li class="active"><a href="#profile">Usuario &nbsp <b>Javier Loucim</b></a></li> 
              <li><a href="#about">Cerrar sesión</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


   <script>

//    		var chart = new graphAccountEvolution();
	    	var combo = new comboAccounts();
    		var comboPagos = new comboPagos();
    		var comboUsers = new comboUsers();
    		var comboCurrency = new comboCurrency();
    		var gridPurchases = new gridPurchases();
    		
			var sendingData = false;
			var loadingMode = "DEFAULT";
			
			var hash = "nada";
			var username = "LOUCIMJ";
			var limit = "5";
			var dateTouchMode = true;

			
    		
    		/** Cuando la pagina se haya creado ---------------------------------------------   **/
	    	$(document).ready (function () { 

				comboUsers.username= username;
	    		combo.holder = username;
	    		//ConnectionString esta definido en GlobalVariables.js
	    		combo.connectionString = ConnectionString;
	    		combo.destinationDiv = "#comboBox"
	    		comboPagos.destinationDiv = "#comboPagos";
	    		comboCurrency.destinationDiv = "#comboCurrency";
	    		comboUsers.connectionString = ConnectionString;
	    		comboUsers.destinationDiv = "#comboUsers"

        		gridPurchases.destinationDiv = "#grid";
				gridPurchases.connectionString = ConnectionString;
				
				//alert (username);
				if (BrowserDetect.OS == "iPhone/iPod" || BrowserDetect.OS == "iPad") {
					//Usar el datepicker solamente en dispositivos moviles
		    		$('#datepicker').scroller({
		    	        preset: 'date',
		    	        theme: 'android-ics',
		    	        headerText: 'false',
		    	        height: 40,
		    	        showLabel: false,
		    	        dateFormat: 'yy/mm/dd',
		    	        dayNamesShort: ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado'],
		    	        dayNamesShort: ['Dom','Lu','Ma','Mie','Jue','Vie','Sab'],
		    	        monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
		    	        display: 'inline',
		    	        mode: 'scroller',
		    	        dateOrder: 'D ddMyyyy'
		    	    });    
				} else{
					var circle = document.getElementById("datepicker2");
					circle.style.display = "block";
					dateTouchMode = false;
					
				}
	    			    		
                setTimeout(function() {

					comboUsers.createCombo();
    				var dropdownlist = $("#comboUsers").data("kendoDropDownList");
					dropdownlist.bind("change",onComboUsersChangeValue);

                	
                	//* inicializar combo de cuentas *//
                    combo.createCombo();
    				dropdownlist = $("#comboBox").data("kendoDropDownList");
					dropdownlist.bind("change",onComboAccountsChangeValue);
					
					comboCurrency.createCombo();
					
					gridPurchases.hash = "nada";
					gridPurchases.purchased_by = this.username;
					gridPurchases.limit = this.limit;
					gridPurchases.orderBy = "TIMESTAMP";
					gridPurchases.createGrid();
                    
                }, 400);
                    		    	
	    	});

    		
    		
    		/** FUNCIONES ---------------------------------------------   **/

			function onComboUsersChangeValue(event) {
				
				var dropdownlist = $("#comboUsers").data("kendoDropDownList");
				var dataItem = dropdownlist.dataItem();

				//dropdownlist.text(dataItem.username);
				combo.holder = dataItem.username;
				combo.createCombo();
			}
			
			function onComboAccountsChangeValue(event) {
				
				var dropdownlist = $("#comboBox").data("kendoDropDownList");
				var dataItem = dropdownlist.dataItem();

				dropdownlist.text(dataItem.card_type);
				$("#resultadoBanco").html ("<p>" + dataItem.bank + "</p>" ); 
				$("#resultadoValidate").html ( "");
				
			}

			function onComboPagosChange(event) {

				if ($("#comboPagos").val()  > 1 && $("#valor").val() > 0 ) {
					var cuota = Math.round($("#valor").val() / $("#comboPagos").val() );
					
					if (cuota == 0) {
						$("#resultadoCuotas").html ("<p>" + $("#comboPagos").val() + " pagos de casi nada, no llega a $1!!</p>" ); 
					} else {
						$("#resultadoCuotas").html ("<p>" + $("#comboPagos").val() + " pagos de $"+(Math.round($("#valor").val() / $("#comboPagos").val() )) + "</p>" ); 
					}
				} else {
					$("#resultadoCuotas").html ("");
				}
				$("#resultadoValidate").html ( "");
				
			}
			
			function onComboPagosChange2(event) {
				var y = $("#comboPagos").val();

				if (this.loadingMode == "MONTHLY_PAYMENT") {
					$("#resultadoCuotas").html ( "el valor total fue $" + Math.round(y*$("#valor").val()));
					$("#resultadoValidate").html ( "");
				}
				
			}
			
			function validateData() {
				var tarjeta = $("#comboBox").data("kendoDropDownList");
				var tarjetaData = tarjeta.dataItem();
				var moneda = $("#comboCurrency").data("kendoDropDownList");
				var pagos = $("#comboPagos").val();
				var valor = $("#valor").val();
				
				
				var day = $("#day").val();
				var month = $("#month").val();
				var year = $("#year").val();

				var stringFecha = jQuery.scroller.formatDate('yyyy-mm-dd',fecha);
				
				
//				alert (stringFecha);
				
				var x = tarjeta.text();
				if (x == " ") {
					$("#resultadoValidate").html ( "Tienes que seleccionar una tarjeta!");
					return;
				}
				//alert (tarjetaData.data.acc_id);

				//alert (valor);
				
				if (dateTouchMode == false) {
					if (day == 0) {
						$("#resultadoValidate").html ( "Tienes que completar el dia.");
						return;
					}
					if (month == 0) {
						$("#resultadoValidate").html ( "Tienes que completar el mes!");
						return;
					}
					if (year == 0) {
						$("#resultadoValidate").html ( "Tienes que completar el año.");
						return;
					}
				} else {
					var fecha = $("#datepicker").scroller('getDate');					
				}
				
				if (valor == 0) {
					$("#resultadoValidate").html ( "No se compra nada gratis con tarjeta!! completa el valor.");
					return;
				}
				if (valor < 0) {
					$("#resultadoValidate").html ( "Te devolvieron plata en la tarjeta!?? completa el valor.");
					return;
				}
				
				
				if (pagos == 0) {
					$("#resultadoValidate").html ( "No se inventaron los pagos en cero!!");
					return;
				}
				if (pagos < 0) {
					$("#resultadoValidate").html ( "Pagos negativos??! Que maldad! querer romper el sistema así!");
					return;
				}
				$("#resultadoValidate").html ( "");
				//$("#circle").style ("display:true");
				
				sendData();

			}
			
			function sendData(force) {
				
				if (this.dateTouchMode) {
					var fecha = $("#datepicker").scroller('getDate');
					var stringFecha = jQuery.scroller.formatDate('yyyy-mm-dd',fecha);
				}else {
					var day = $("#day").val();
					var month = $("#month").val();
					var year = $("#year").val();
					var stringFecha = year+"-"+pad(month,2,"0",STR_PAD_LEFT)+"-"+pad(day,2,"0",STR_PAD_LEFT);
				}
				
				var tarjeta = $("#comboBox").data("kendoDropDownList");
				var tarjetaData = tarjeta.dataItem();
				
				sendingData = true;
				
				//deshabilitar los divs
				var circle = document.getElementById("circle");
				circle.style.display = "block";
				var temp = document.getElementById("divBanco");
				temp.style.opacity = "0.3";
				var temp = document.getElementById("divFecha");
				temp.style.opacity = "0.3";
				$("#datepicker").scroller.readOnly= true;
				var temp = document.getElementById("divValor");
				temp.style.opacity = "0.3";
				
				var pagos = $("#comboPagos").val();
				var valor_total = $("#valor").val();

			
				if (this.loadingMode == "MONTHLY_PAYMENT") {
					//total_pagos = pagos*$("#valor").val();
				}

				var bypass_check = "0";
				if (force != null) {
					var bypass_check = "1";
				}
				
				var dataSource = new kendo.data.DataSource({
				    transport: {
				        read: {
	    					url: ConnectionString+"/business/load_purchases.php",
	    					data: {
	    						cHash: this.hash,
	    						cAction: "ADD",
	    						value_type: this.loadingMode,
	    						date: stringFecha,
	    						purchased_by: this.username,
	    						credit_card: tarjetaData.acc_id,
	    						description: $("#description").val(),
	    						value: $("#valor").val(),
//	    						value: valor_total,
	    						payments: pagos,
	    						bypass_check: bypass_check
	    					}
				        }
				    },
					schema: {
						type: "xml",
						data: "/action",
						model: {
							fields: {
								code: "code/text()",
								error: "error/text()",
								response: "response/text()"
							}
						}
					},
				    change: function(e) {
				        // handle event
						var circle = document.getElementById("circle");
						circle.style.display = "none";
						var temp = document.getElementById("divBanco");
						temp.style.opacity = "1";
						temp = document.getElementById("divFecha");
						temp.style.opacity = "1";
						temp = document.getElementById("divValor");
						temp.style.opacity = "1";

				        var data = this.data();
				        
				        //alert (data[0].data.code);
						if (data[0].code == "3") {
				        	$("#resultadoValidate").html ( data[0].error+" <h6><a onclick='sendData(1);'>cargar igualmente</a></h6>");
				        } else {
				        	$("#resultadoValidate").html ( data[0].response);
// 							if (this.loadingMode == "MONTHLY_PAYMENT") {
// 					        	toggleResumen();
// 							} else {
// 								toggleTicket();
// 							}
				        	gridPurchases.createGrid();
				        }
						
				    }
				});	
				
				dataSource.read();
								
			}
			
			function toggleTicket(){
/*
				var x = document.getElementById("divPagosTicket");
				x.style.display = "block";
				x = document.getElementById("divPagosResumen");
				x.style.display = "none";
				*/
				$("#valor").attr("placeholder", "valor");
				this.loadingMode = "DEFAULT";
				onComboPagosChange();
				
			}
			
			function toggleResumen(){
				/*
				var x = document.getElementById("divPagosResumen");
				x.style.display = "block";
				x = document.getElementById("divPagosTicket");
				x.style.display = "none";
				*/
				$("#valor").attr("placeholder", "valor cuota");
				this.loadingMode = "MONTHLY_PAYMENT";
				onComboPagosChange2(null);
			}
	    </script>




    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action
      <div class="hero-unit">
        <h1>Agrega esos tickets!</h1>
        <p>Solamente hay que mepezar uno a la vez, hasta que se termine, es la parte más molesta, pero saber qué es lo que estás gastando implica este paso! Ánimo!</p>
        <p><a class="btn btn-primary btn-large">Dame fuerzas</a></p>
      </div>
		 -->
		 
	  <div class="row">
	  	<div class="span4">
	  		<h6>Agregar tickets</h6>
	  		<p>Segui estos simples pasos y vas a sacarte de encima la parte más fea del trabajo rápidamente!</p>
	  	</div>
	  </div>
      <!-- Example row of columns -->
      <div class="row">

        <div id="divBanco" class="span4">
          <h2>Qué tarjeta?</h2>
           <p>Selecciona la tarjeta de crédito del ticket</p>
           <p><input id="comboUsers" style="width:250px"/></p>
           <p><input id="comboBox" style="width:250px"/></p>
           <div id="resultadoBanco" style="color:#999999"></div>
        </div>
      </div>
      <div class="row">
        <div id="divFecha" class="span5">
          <h2>Cuándo y que?</h2>
          <p>Una descripción de lo que compraste</p>
          <input id="datepicker" name="datepicker" style="display:none;width:150px;" />
          <div id="datepicker2" style="display:none">
          	<input id="day" name="day" type="number" value="" placeholder="dia" style="width:40px;margin-right: 5px" min="1" max="31" step="1"/>/ 
          	<input id="month" name="month" type="number" value="" placeholder="mes" style="width:40px;margin-right: 5px" min="1" max="12" step="1"/>/ 
          	<input id="year" name="year" type="number" value="2012" style="width:50px;margin-right: 5px" min="2010" max="2050" step="1"/> 
          </div>
          
          <p><input id="description" placeholder="(que compraste?)" style="width:250px;color:#333333" maxlength="40"/></p>
        </div>
        <div id="divValor" class="span5">
          <h2>Cuánto?</h2>(cargar desde <a onclick="toggleTicket();">ticket</a> o <a onclick="toggleResumen();">resumen</a>)
          <p>Ouch.</p>
          <p>
          	<input id="comboCurrency" style="width:60px;margin-right: 5px"/>
          	<input id="valor" placeholder="valor"  style="width:100px" onchange="onComboPagosChange();onComboPagosChange2(null);"/>
          </p>
          <div id="divPagosTicket">
	          <p><input id="comboPagos" type="number" value="1" style="width:70px;margin-right: 5px" min="1" max="60" step="1" 
	          			onchange="onComboPagosChange(null);onComboPagosChange2(null);"/>  pagos.
	          </p>
          </div>
		  <div id="resultadoCuotas" style="color:#999999"></div>
          <p>
          	<a class="btn btn-large" onclick="validateData()">Guardar</a>		  

          	<div id="resultadoValidate" style="color:#FF3333"></div>
          </p>
        </div>

      </div>
	 <div class="row">
      <div id='circle' class='span5' style='display:none'>
      	<div width="100%" style='margin: 0px auto;margin-bottom: 5px'>
			<div id='circle_1' class='circle'></div>
			<div id='circle_2' class='circle'></div>
			<div id='circle_3' class='circle'></div>
			<div class='clearfix'></div>
      	</div>
		<h6>Cargando el ticket en el server</h6>
	 	</div> 
	 </div>
  	 <br><br>
	 <div id='divMovimientos' style="opacity='0.7'" class="row">
	 	<div class="span7">
	 		<h6>Últimos 5 movimientos cargados</h6>
	 		<div id="grid"></div>
	 	</div> 
	 </div>
      <hr>

      <footer>
        <p>&copy; SDev 2012</p>
      </footer>




    </div> <!-- /container -->

</body>
</html>
	