<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Money Track</title>
		<link href="../../styles/kendo.common.css" rel="stylesheet" />
    	<link href="../../styles/kendo.default.css" rel="stylesheet" />
        <script src="../../js/jquery.min.js"></script>
        <script src="../../js/kendo.core.js"></script>
        <script src="../../js/kendo.list.js"></script>
        <script src="../../js/kendo.data.js"></script>
        <script src="../../js/kendo.model.js"></script>
        <script src="../../js/kendo.data.xml.js"></script>
        <script src="../../js/kendo.pager.js"></script>
        <script src="../../js/kendo.sortable.js"></script>
        <script src="../../js/kendo.draganddrop.js"></script>
        <script src="../../js/kendo.groupable.js"></script>
        <script src="../../js/kendo.grid.js"></script>
        <script src="../../js/kendo.dropdownlist.js"></script>
        <script src="../../js/kendo.combobox.js"></script>
        <script src="../../js/kendo.popup.js"></script>
        <script src="../../js/kendo.chart.js"></script>
        
    </head>
	<body>

	    <script>
			function createChart() {
		    	var ds = new kendo.data.DataSource({ 
		    			transport: {
		    				read: {
		    					url:"http://10.248.20.59:8080/php/view/graph.php",
		    					data: {
		    						cHash: "nada1"
		    					}
		    				},
		    			},
	    				schema: {
	    					type: "xml",
	    					data: "/graph/period",
	    					model: {
	    						fields: {
	    							month: "month/text()",
	    							one_payment: "one_payment/text()",
	    							more_payments: "more_payments/text()"
	    						}
	    					}
	    				}
		    		}
		    	);

				
                $("#graph").kendoChart({
                	dataSource: ds,
                    theme: $(document).data("kendoSkin") || "default",
                    title: {
                        text: "Pagos a realizar"
                    },
                    legend: {
                        visible: false
                    },
                    seriesDefaults: {
                        type: "column"
                    },
                    categoryAxis: { 
                    	field: "month" 
                    },
                    series: [{
                    	field: "one_payment",
                        name: "Un Pago",
                    }, {
                    	field: "more_payments",
                        name: "En cuotas",
                    }],
                    seriesColors: ["#cd1533", "#d43851", "#dc5c71", "#e47f8f", "#eba1ad",
                                   "#009bd7", "#26aadd", "#4db9e3", "#73c8e9", "#99d7ef"]
                    
                });
            }




	    	//Cuando la pagina se haya creado
	    	$(document).ready (function () { 
	    		
                setTimeout(function() {
                    // Initialize the chart with a delay to make sure
                    // the initial animation is visible
                    createChart();

                    $(document).bind("kendo:skinChange", function(e) {
                        createChart();
                    });
                }, 400);
                    		    	
		    	var ds = new kendo.data.DataSource({ 
		    			transport: {
		    				read: {
		    					url:"http://10.248.20.59:8080/php/view/list_accounts.php",
		    					data: {
		    						cHash: "nada1"
		    					}
		    				},
		    			},
	    				schema: {
	    					type: "xml",
	    					data: "/accounts/account",
	    					model: {
	    						fields: {
	    							acc_id: "acc_id/text()",
	    							bank: "bank/text()",
	    							card_type: "card_type/text()"
	    						}
	    					}
	    				}
		    		}
		    	);

	            
	            $("#comboBox").kendoDropDownList({
	            	dataSource: ds,
			        dataTextField: "bank",
        			dataValueField: "acc_id",
        			suggest: true,
        			template: '<div width="300">${ data.bank } / <b>${ data.card_type }</b></div>' ,
	            });
	    	});
	    	
	   
	    </script>




		<input id="comboBox" style="width:300px"/> 
		<div id="graphDiv">
			<div id="graph"/>
							
		</div>

	
		
		


	</body>
</html>